{% extends 'base.html' %}
{% block title %}PhishGuardian{% endblock %}

{% block content %}
<head>

    <link rel="stylesheet" href="static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
</head>

<main>
  <nav>
    <div class="logo">
      <h2 class="headng">PhishGuardian</h2>
    </div>
    <ul>
      <li><a href="{{ url_for('home') }} "><img class = 'chut' src="{{ url_for('imghome')}}" alt="Home"></a></li>
      <li><a href=" {{ url_for('about') }} ">About</a></li>
    </ul>
  </nav>

  <div class="about-body">
    <h1 class="home-text">About Project</h1>
    <h2>PhishGuardian</h2>
    <p>
      PhishGuardian aims to detect whether a URL is safe or not using a decision tree algorithm. The project uses a web app to interact with users, and a Python backend to process the user input and make predictions about the safety of a given URL. The decision tree algorithm is a machine learning technique that uses a series of binary decisions to classify input data into categories. In the case of PhishGuardian, the algorithm analyzes the characteristics of a URL and decides whether it is safe or not based on a set of pre-defined rules. The algorithm is trained on a dataset of known safe and phishing URLs, so it can accurately classify new URLs that it hasn't seen before. <br><br>
      The web app allows users to input a URL and receive a prediction about its safety. The user interface is designed to be user-friendly and intuitive, with clear instructions on how to use the app. Once the user inputs a URL, the app sends the URL to the Python backend, which runs the decision tree algorithm and returns a prediction about the safety of the URL. The prediction is then displayed to the user in the web app. The Python backend is responsible for processing the user input, running the decision tree algorithm, and returning the prediction to the web app. The backend is written in Python, which is a popular language for machine learning and data analysis. The backend is also responsible for training the decision tree algorithm on a dataset of known safe and phishing URLs, so it can make accurate predictions.
    </p>


    <h2>Screenshots:</h2>
    <ul>
      <table class="ss_align", width="100%">
        <tr>
          <th>Landing Page</th>
          <th>Result Page</th>
        </tr>
        <tr>
        <td><img src="{{url_for('imgland') }}" width="640" height="360" alt="Insert Landing Image Here"></td>
        <td><img src="{{url_for('imgres') }}" width="640" height="360" alt="Insert Result Image Here"></td>
        </tr>
      </table>
    </ul>

    <h2>Technologies Used:</h2>
    <ul>
      <li>Flask</li>
      <li>Sk-Learn</li> 
      <li>HTML, CSS, JS</li> 
      <li>Selenium</li>  
      <li>Git</li>
    </ul>

    <h2>Reference Research Papers:</h2>
    <ul>
      <li>Mohammad, Rami, McCluskey, T.L. and Thabtah, Fadi (2012) An Assessment of Features Related to Phishing Websites using an Automated Technique. In: International Conferece For Internet Technology And Secured Transactions. ICITST 2012 . IEEE, London, UK, pp. 492-497. ISBN 978-1-4673-5325-0</li>
      <li>Mohammad, Rami, Thabtah, Fadi Abdeljaber and McCluskey, T.L. (2014) Predicting phishing websites based on self-structuring neural network. Neural Computing and Applications, 25 (2). pp. 443-458. ISSN 0941-0643</li>
      <li>Mohammad, Rami, McCluskey, T.L. and Thabtah, Fadi Abdeljaber (2014) Intelligent Rule based Phishing Websites Classification. IET Information Security, 8 (3). pp. 153-160. ISSN 1751-8709</li>
    </ul>

  </div>
</main>

{% endblock %}

{% block scripts %}
{{ super() }}



{% endblock %}
