<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet" />
  <!-- Required Css Stylesheets -->
  {% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  {% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>
{% set theme = theme|default('light') -%}

<body class="body--{{ theme }}">
  <main>{% block content %}{% endblock %}</main>
  <div class="footer">{% block footer %}{% endblock %}</div>

  <!-- Required Js Scripts -->
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% endblock %}
</body>

</html>